/* General */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #222;
}

li {
  display: inline-block;
  padding-left: 1.5rem;
}

a {
  color: #000;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.left {
  margin-left: 1rem;
}

.right {
  margin-right: 2rem;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2.3rem;
  font-size: 1.3rem;
}

#signInBtn {
  border: 1px solid #4285f4;
  border-radius: 2px;
  font-weight: bold;
  outline: none;
  background: #4285f4;
  color: #fff;
  padding: 0.65rem 1.2rem;
  opacity: 1;
}

#signInBtn:hover {
  opacity: 0.9;
  text-decoration: none;
}

/* Main */
#main {
  text-align: center;
}

#logo {
  margin: 16rem 0 2.7rem 0;
}

/* Searchbar */
#searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 4.6rem;
  margin: 0 auto;
  width: 47rem;
}

#searchIcon {
  height: 1.4rem;
  width: 1.4rem;
  opacity: 0.5;
}

#search {
  margin: 0 1rem;
  padding: 1rem 0;
  width: 81%;
  font-size: 1.6rem;
  border: none;
  outline: none;
}

#voiceIcon {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

/* Search Buttons */
#buttons {
  margin-top: 3.6rem;
}

#buttons a {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-size: 1.4rem;
  margin: 1.1rem 0.4rem;
  padding: 1rem 1.6rem;
  opacity: 1;
}

#buttons a:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

/* Footer */
footer nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #f2f2f2;
  color: #5f6368;
  border-top: 1px solid #e4e4e4;
  font-size: 1.4rem;
  align-items: center;
}
